@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap');

body {
  width: 100vw;
  line-height: 1.5;
  background: radial-gradient(#27272a 0%, #18181b 60%);
  color: white;
  min-height: 100vh;
  font-family: 'Comfortaa', cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
} */

/* nav styles */

.hamburger {
  cursor: pointer;
  color: #06b6d4;
}

.close {
  cursor: pointer;
  display: grid;
  place-content: center;
  padding-top: 1.5rem;
  margin-bottom: 2rem;
  margin-right: 1.5rem;
  display: flex;
  justify-content: end;
}

.nav-menu {
  margin-bottom: 64px;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  background-color: rgb(24 24 27);
  display: none;
}

.nav {
  display: none;
}

.show {
  display: block;
}

.hidden {
  visibility: hidden;
}

.expanded {
  display: unset;
}

.publicationDate {
  color: gray;
}

.coverImage {
  height: 400px;
}

.coverImage img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tailwindIcon {
  width: 16px;
  height: 16px;
}

.astroIcon {
  width: 16px;
  height: 16px;
  color: rgb(255, 94, 0);
}

.arrowIcon {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 640px) {
  .hamburger {
    display: none;
  }
  .nav {
    display: block;
  }
  .menu {
    display: none;
  }
}
