---
import '../styles/global.css';

import BaseLayout from '../layouts/BaseLayout.astro';
import { Icon } from 'astro-icon';

const pageTitle = 'AnfryBlog';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/logo.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content='My personal blog' />
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <div
        class='text-center max-w-[90%] md:max-w-[70%] lg:max-w-[60%] m-auto text-gray-100'
      >
        <h1 class='text-3xl xl:text-4xl mb-8 font-bold'>
          Welcome to <span class='font-bold text-cyan-400'>FryBlog</span>
        </h1>
        <p class='text-left mb-4 xl:text-lg font-light'>
          I&apos;ll try to cover the most important topics regarding web
          development. Going from beginner&apos;s topics to more advanced ones.
          <br />
          You&apos;ll find useful informations and links to different influencers
          or official websites. My goal is to guide you through the understanding
          of the topics, how to find answers and what tool or framework to use. I&apos;ll
          use concrete exemples, real projects, Github repos, other blogs, streamers
          to follow...
        </p>
        <div class='text-center my-8'>
          <button
            class='hover:bg-cyan-500 rounded-md bg-cyan-600 text-white py-2 px-4 mb-4'
          >
            <a href='/blog'>BLOG</a>
          </button>
        </div>

        <p class='mb-4 font-bold text-sm'>FOLLOW ME ON :</p>
        <div class='flex align-center justify-center text-4xl'>
          <a
            target='_blank'
            rel='noreferrer'
            href='https://github.com/Canfry'
            aria-label='Github'
          >
            <Icon
              pack='ri'
              name='github-fill'
              class='w-[36px] h-[36px] text-[#6e5494] hover:scale-110'
            />
          </a>

          <a
            target='_blank'
            rel='noreferrer'
            href='https://twitter.com/ChristopheAnfry'
            aria-label='Twitter'
          >
            <Icon
              pack='mdi'
              name='twitter'
              class='w-[36px] h-[36px] text-[#1da1f2] ml-8 hover:scale-110'
            />
          </a>
          <a
            target='_blank'
            rel='noreferrer'
            href='https://fryblog.hashnode.dev/'
            aria-label='Hashnode'
          >
            <Icon
              pack='logos'
              name='hashnode-icon'
              class='w-[33px] h-[33px] text-[#1da1f2] ml-8 hover:scale-110'
            />
          </a>
        </div>
      </div>
    </BaseLayout>
  </body>
</html>
